.place__block-url {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 12px;
}